*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(218, 218, 218);
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(54, 52, 52);
    color: white;
    padding: 10px 20px;
}
.right-nav a{
    margin-right: 15px;
    color: white;
}
.main{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    align-items: center;
}
.input{
    height: 30px;
    width:30vw;
    padding: 10px;
    font-size: 16px;
}
.btn{
    width: 80px;
    height: 30px;
    background-color:rgb(54, 52, 52);
    color: white;
    border: none;
}
.display-div{
    margin: 20px 0;
    padding: 0 20px;
    background-color: white;
}
h2{
    padding-top: 20px;
}